<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Display results</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="">
        <style>
            .form { 
                max-width: 80%;
                margin-top: auto;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        
        <div class="container-fluid text-center">
            <h3 class="display-4">Your Posts</h3>
        </div>

        <div class = "mb-3 form border border-5 shadow-sm p-3 mb-5 bg-body rounded ">
            <ul>
                {% for key in data.keys() %}
                
                <li class="list-group-item">
                    <div class = "container ">
                    <div class="row">
                    {% if data[key]["img_path"] %}
                    <center><img src="{{ url_for('static',filename= data[key]['img_path'] ) }}" style="width: 400px;"><br></center>
                    {% endif %}
                    {% if data[key]["txt"] %}
                    <p class="h6"> {{ data[key]["txt"] }}</p>
                    {% endif %}
                    </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="d-grid" id="sub_but">
                <a class="btn btn-warning btn-block rounded" href="{{ url_for('hello_world') }}">Home</a>
        </div>
        </div>
                
    </body>
</html>

