<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Display results</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="">
        <style>
            .form { 
                max-width: fit-content;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
        </style>
        <script>
            function displaySelectedImage(event, elementId) {
                const selectedImage = document.getElementById(elementId);
                const fileInput = event.target;
            
                if (fileInput.files && fileInput.files[0]) {
                    const reader = new FileReader();
            
                    reader.onload = function(e) {
                        selectedImage.src = e.target.result;
                    };
            
                    reader.readAsDataURL(fileInput.files[0]);
                }
            }
            function hide(even) { 
                document.getElementById("spinner").className = "d-grid"
                document.getElementById("sub_but").className = "d-none"
                return true
            }
        </script>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <form action="/final", method="post">
        <div class = "overflow-auto">
        <div class = "mb-3 form border border-5 shadow-sm p-3 mb-5 bg-body rounded ">
            <div> 
                <h2>Original</h2>
                {% if to_render.img_present %}
                <input type="radio" id="org_img" name="img" value = " {{ 'inp_img/{}'.format(to_render.filename) }} " class="form-check-input">
                <label for="org_img" class="form-check-label"><img src="{{ url_for('static',filename='inp_img/{}'.format(to_render.filename) ) }}" style="width: 400px;" /></label><br>
                
                {% endif %}
                {% if to_render.txt_present %}
                <input type="radio" id="org_text" name = "txt" value = "{{ to_render.original_text }}">
                <label for="org_text" class="form-check-label">{{to_render.original_text}}</label><br>
                {% endif %}
            </div>

            {% if to_render.sensitive_exists %}

            <div> 
                <h2>Sensitive Info exists</h2>
                {% if to_render.txt_sen %}
                <p class="h6">Potential Sensistive Information</p>
                <ul>
                {% for key in to_render.sensitive_words_txt.keys() %}
                {% if to_render.sensitive_words_txt[key] |length > 0 %}
                <li class="list-group-item">{{ key}} - {{', '.join(to_render.sensitive_words_txt[key]) }}</li>
                {% endif %}
                {% endfor %}
                </ul>
                <p class="h6">Recommended Text after removal:</p>
                <input type="radio" id="rec_txt1" name="txt" value = "{{ to_render.recommended_text }}">
                <label for="rec_txt1" class="form-check-label">{{to_render.recommended_text}}</label><br>
                {% endif %}
    
                {% if to_render.img_sen %}
                <p class="h6">Potential Sensistive Information</p>
                <ul>
                {% for key in to_render.sensitive_words_img.keys() %}
                {% if to_render.sensitive_words_img[key] |length > 0 %}
                <li class="list-group-item">{{ key}} - {{', '.join(to_render.sensitive_words_img[key])}}</li>
                {% endif %}
                {% endfor %}
                </ul>
                <p class="h6">Img after Sensitive Content Removal:</p>
                <input type="radio" id="org_img2" name="img" value = " {{ 'op_img/{}'.format(to_render.filename) }} " class="form-check-input">
                <label for="org_img2" class="form-check-label" ><img src="{{ url_for('static',filename='op_img/{}'.format(to_render.filename) ) }}"style="width: 400px;"></label><br>
                {% endif %}
            </div>

            {% endif %}
            
            {% if to_render.offensive_exists %}
            
            <div> 
                <br>
                <h2>Offensive/Hateful Exists</h2>
                {% if to_render.offensive_text_label == 1 %}
                <h4>Offensive words Found</h4>
                <p class="h6">Recommended Text:</p>
                <input type="radio" id="rec_txt2" name="txt" value = "{{ to_render.recommended_rem_offensive }}" class="form-check-input">
                <label for="rec_txt" class="form-check-label">{{ to_render.recommended_rem_offensive }}</label><br>
                {% endif %}
                {% if to_render.offensive_image_label == 1 %}
                <p>Image Contains Offensive Words. Reupload or Continue</p>
                {% endif %}

                {% if to_render.offensive_text_label == 0 %}
                <p>Hateful Speech detected in speech. If found out on inspection, your account can be suspended. Continue if you are sure.</p>
                {% endif %}

                {% if to_render.offensive_image_label == 0 %}
                <p>Image Contains Hate Words. If found out on inspection, your account can be suspended. Continue if you are sure.</p>
                {% endif %}
            </div>

            {% endif %}
        <br>
        <div class="d-grid" id="sub_but">
                <button type="submit" class="btn btn-primary btn-block rounded" onclick="hide(event)">Submit</button><br>
                <a class="btn btn-warning btn-block rounded" href="{{ url_for('hello_world') }}">Post Again</a>
        </div>
            <div id="spinner" class="d-none">
                <button class="btn btn-primary"  >
                <span class="spinner-border spinner-border-sm" ></span>
                </button>
            </div>
        </div>
    </div>
        </form>

    </body>
</html>

